* {
    font-family: Times New Roman;
    margin: 0;
    font-size: 16px;
}

.center25 {
    background: green;
    color: white;
    max-width: 537px;
    margin: 20px auto;
    padding: 0;

}

.center25:last-child {
    background: blue;
    padding: 3em;
    border: 4em;
}
