#calculator {
    padding: 10px;
    border: 5px solid mediumpurple;
    /*на кратинке skyblue*/
    font-family: sans-serif;
    width: max-content;
    height: max-content;
}

#inout {
    width: 329px;
    height: 40px;
    margin: 10px;
    margin: 2px 0 0 6px;
    padding: 5px;
    text-align: end;
    border: 1px solid grey;
    box-shadow: 0px -30px 25px -25px #9a9898 inset;
    font-size: 30px;
    /*color: lightgrey;*/
}

table {
    width: 100%;
    text-align: center;
}

button {
    width: 60px;
    height: 60px;
    font-size: 30px;
    margin: 3px;
    box-shadow: 0px -30px 25px -25px #9a9898 inset;
    border: 1px solid grey;
}

.btn:active {
    background-color: mediumpurple;
    /*skyblue*/
}
