{% extends 'base.html' %}

{% block title %}
Главная страница-WebgeoPro
{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1>Домашняя страница - WebGeoPro</h1>
    <p class="lead">WebGeoPro-сервис для геокодирования и визуализации адресов из .xlsx и .csv файлов отчётов R_Keeper Delivery при помощи OpenStreetMap Nominatim</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Давайте начнём!</h2>
        <p>
            Идите на вкладку "Загрузить" и загрузите ваш файл
        </p>
        <p>
            Далее вы можете выбрать необходимый вид визуализации, а также дополнительные характеристики для визуализации
        </p>
        <p>
            Вы можете также выбрать ограничения для значений дополнительных характеристик
        </p>
        <p>
            После выбора всех необходимых характеристик нажмите "Готово". На ваш компьютер будет загружена карта в формате .html
        </p>
        <p>
            Для управления отображением групп маркеров воспользуйтесь кнопкой с изображением слоёв в правом нижнем углу.
        </p>


    </div>
</div>

{% endblock %}

 {% block scripts %}{% endblock %}