* {
    font-family: Times New Roman;
    margin: 0;
    font-size: 16px;
}

.listblock {
    float:left;
    width: 30%;
    height: 15%;
    padding: 15px 0;
    background: #f5f1cb;
}

.block {
    width: 99%;
    margin: 5px;
    float:left;
    background: #2af7ed;
    border: 2px solid green;
}

.content214 {
    float:left;
    width: 70%;
    background: grey;
}

@media screen and (max-width: 900px) {
    .block {
    box-sizing: border-box;
    width: 99%;
    height: 100%;
    margin: 5px;
    float:left;
    background: #2af7ed;
    border: 2px solid green;
    padding-top: 20px;
    }

    .listblock{
        background-color: bisque;
        vertical-align: middle;
        width: 100%;
        height: auto;
        padding: 0;
    }
    ul li {
        display: inline;
        list-style-type: none;
    }
    .content214 {
        background-color: darkgray;
        width: 100%;
        margin-top: 20px;
        background: grey;
}   
}
