* {
    font-family: Times New Roman;
    margin: 0;
    font-size: 16px;
}

.left210 {
    float: left;
    background: #64ffda;
    width: 200px;
    height: 100px;
    margin: 15px;
    padding: 0;
}

footer{
    clear: both;
    background: bisque;
}
