* {
    font-family: Times New Roman;
    margin: 0;
    font-size: 16px;
}

.twotwo {
    padding: 0 0 1em 0;
    background: grey;
    font-size: 24px;
}

div {
    padding: 2px;
    margin: 0 2px;
}
.right22{
    float: right;
    width: 200px;
    background: #f5ff85;
    height: 100%;
}
.center23{
    background: blue;
    color: white;
    width: 537px;
    margin: 5px auto auto auto;
    padding: 0;
}
.center24{
    background: blue;
    color: white;
    max-width: 537px;
    margin: 5px auto auto auto;
    padding: 0;
    display: flex;

}

.left22 {
    float: left;
    width: 25%;
    background: YellowGreen;
    height: 100%;
}
.title22 {
    color: red;
    font-style: italic;
}
.ftwotwo{
	clear: both;
	background: black;
	text-align: center;
	padding: 4px;
}
.ftwotwo a { color: #f5ff85; }
