* {
    font-family: Times New Roman;
    margin: 0;
    font-size: 13px;
}

.listblock {
    float:left;
    width: 30%;
    height: 80px;
    padding: 15px;
    background: #f5f1cb;
}

.block {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    float:left;
    background: #2af7ed;
    border: 2px solid green;
}

.content213 {
    float:left;
    width: 70%;
    background: grey;
}
.under{
    clear: right;
}
img{
    float:right;
    width: 50%;
}
