* {
    font-family: Times New Roman;
    margin: 0;
    font-size: 16px;
}

.twoone {
    padding: 0 0 1em 0;
    background: grey;
    font-size: 24px;
}

div {
    padding: 2px;
    margin: 0 2px;
}

.left21 {
    float: left;
    width: 200px;
    background: YellowGreen;
    height: 100%;
}

.title21 {
    color: red;
    font-style: italic;
}

.ftwoone {
    clear: both;
    background: black;
    text-align: center;
    padding: 4px;
}

.ftwoone a {
    color: #f5ff85;
}
